<table bgcolor="#0dc6e2" class="head" style="background: #0dc6e2;" cellpadding="0" cellspacing="0" border="0" border-collapse="collapse" width="100%">
    <tr>
        <td style="text-align: center;" colspan="3">
            <h1>Welcome to SMX</h1>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 0px 40px; font-size: 26px; text-align: center"><p>
            Hi <%= @user.first_name.capitalize %>,</p> Someone requested a new password for your SMX account. To reset your password, use the code below in your SMX app. If you did not make this request, you can safely ignore this email.
        </td>
    </tr>
    <tr>
        <td width="30%">&nbsp;</td>
        <td style="text-align: center;" width="40%">
            <table cellpadding="0" cellspacing="0" border-collapse="collapse" class="button" width="100%">
                <div class="cta margin-top-30px margin-bottom-50px" style="text-align: center; margin-top: 50px !important; margin-bottom: 50px !important;" align="center">
                    <%= link_to password_update_form_url(token: @encrypted_time, e: "#{EncryptDecryptService.new(@user.email).encrypt}") do %>
                        <%= content_tag :span, "Click to change password", :class => "red_button" %>  
                    <% end %>
                </div>
            </table>
        </td>
        <td width="30%">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" border-collapse="collapse" width="100%">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>

<table bgcolor="#ffffff" class="head" style="background: #ffffff;" cellpadding="0" cellspacing="0" border="0" border-collapse="collapse" width="100%">
    <tr>
        <td style="text-align: center;" colspan="3">
            <h1 style="color: #000000">Questions?</h1>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 0px 80px; font-size: 20px; text-align: center; color: #595f63;  font-size: 24px;">
            If you have any questions about SMX please don’t hesitate to get in touch.
        </td>
    </tr>
    <tr>
        <td style="padding: 40px;" align="center">
            <a href="mailto:support@smxmoney.com" style="color: #488dfb; text-decoration: none; margin-bottom: 40px; font-size: 20px;">support@smxmoney.com</a>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>