<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="frame" style="padding:62px 40px 60px;background-color:#ffffff">
            <h1 style="font: 32px/36px Helvetica, Arial, sans-serif;color: #371989;letter-spacing: 0.5px;padding: 0 0 36px;margin: 0">
                Hello <%= @user.first_name.capitalize %>,
            </h1>
            <p style="font: 16px/24px Helvetica, Arial, sans-serif;color: #757575;padding: 0 0 15px;margin: 0">
                You have requested an email change. To verify your new email, click the link below.
            </p>
            <h5 style="padding: 13px 0;margin: 0 auto;text-align: center;width: 257px;padding-bottom: 26px">
                <%= link_to confirm_email_url(@user.email_token, e: @encrypted_email) do %>
                    <%= content_tag :span, "CONFIRM EMAIL ADDRESS", :class => "blue_button" %>
                <% end %>
            </h5>
            <p style="font: 16px/24px Helvetica, Arial, sans-serif;color: #757575;padding: 0 0 22px; margin: 0">        Sincerely, <br />
                <strong style="color: #371989">The SMX Team</strong>
            </p>
        </td>
    </tr>
</table>